/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*SCSS Variables*/
$exo_font_family: 'Exo', sans-serif;
$montserrat_font_family: 'Montserrat', sans-serif;

$testimonial_text_color: #1d2440;
$video_text_testimonial_color: #faf9ff;

$heading_font_size_50: 50px;
$heading_font_size_60: 60px;

/*SCSS Extend*/
%full_width_border {
  display: block;
  background: #3c424f;
  width: 100%;
  height: 1px;
}

%section_width {
  max-width: 1466px;
  margin: 0 auto;
}

/**************************************
     Default Css
***************************************/
* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  font-family: $montserrat_font_family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat_font_family;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p {
  font-family: $montserrat_font_family;
}

ul,
p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/**************************************
      Menu Section Start
***************************************/
.menu_section {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0px;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.menu_section nav {
  max-width: 1466px;
  margin: 0 auto;
}

.logo {
  width: 180px;
}

.testimonial_menu a.nav-link {
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 5px;
}

.testimonial_menu a.nav-link:focus {
  color: #ddd;
}

.testimonial_menu a.nav-link {
  color: #fff;
  font-size: 18px;
  font-family: $montserrat_font_family;
}

.testimonial_menu a.nav-link:last-child {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.toggle_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.toggle_icon span {
  width: 50px;
  height: 10px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
}

/**************************************
      Menu Section End
***************************************/


/**************************************
     Banner Section Start
***************************************/
#banner_section {
  background-image: url(../images/banner.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#banner_section h1 {
  font-size: $heading_font_size_60;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $exo_font_family;
  max-width: 815px;
  margin: 0 auto;
}

#banner_section p {
  padding-bottom: 100px;
  font-size: 26px;
  color: #faf9ff;
  font-family: $montserrat_font_family;
  max-width: 1150px;
  margin: 0 auto;
}

/**************************************
     Banner Section Start
***************************************/

/**************************************
     Featured Testimonial Start
***************************************/
#featured_testimonial_section {
  padding: 105px 0px;
}

.section_width {
  @extend %section_width;
}

#featured_testimonial_section h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $montserrat_font_family;
  font-size: $heading_font_size_50;
  color: $testimonial_text_color;
  padding-bottom: 85px;
}

.full_width_border {
  @extend %full_width_border;
}

.testimonial_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial_row {
  padding: 90px 0px;
}

.testimonial_row p, .testimonial_row h3, .testimonial_row span {
  font-size: 24px;
  font-family: $montserrat_font_family;
  font-weight: 700;
  color: $testimonial_text_color
}

.testimonial_row h3 {
  font-size: 30px !important;
  padding: 25px 0px;
}

.testimonial_row span {
  color: #172e58;
}

/*Logo slider*/
.logo_carousel {
  padding-top: 95px;
  padding-bottom: 35px;
}

.logo_carousel.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow_next_bg {
  background-image: url(../images/icon/right-arrow.svg);
  padding: 20px;
  position: absolute;
  z-index: 2;
  right: 28px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  top: 50%;
}

.arrow_prev_bg {
  display: none !important;
}

.logo_carousel button {
  border: none;
}

.logo_carousel .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo_item img {
  width: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}

.logo_item img:active {
  outline: none;
}

.logo_carousel .slick-slide {
  outline: none;
}

/**************************************
     Featured Testimonial End
***************************************/


/**************************************
     Video Testimonial Start
***************************************/
#video_testimonial_section {
  background-color: $testimonial_text_color;
  padding-top: 60px;
  padding-bottom: 115px;
}

.white {
  background-color: #fff;
}

.video_testimonial_row {
  padding: 50px 0px;
}

.video_testimonial_title {
  text-transform: uppercase;
  color: $video_text_testimonial_color;
  font-weight: 400;
  font-size: $heading_font_size_50;
  padding-bottom: 45px;
}

.video_testimonial_row {
  padding: 50px 0px;
}

.video_testimonial_icon {
  max-width: 320px;
}

.video_testimonial_row p {
  color: $video_text_testimonial_color;
  font-size: 25px;
  font-family: $montserrat_font_family;
  padding: 35px 0px;
}

.video_testimonial_row h2 {
  font-size: 36px;
  color: $video_text_testimonial_color;
}

.video_testimonial_row span {
  font-size: 24px;
  color: $video_text_testimonial_color;
}

.video_testimonial_image {
  position: relative;
}

.video_play {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.video_play img {
  width: 84px;
}

.video_arrow_next {
  background-image: url(../images/icon/next-icon.svg);
  position: absolute;
  right: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 77px;
  height: 77px;
}

.video_testimonial_wrapper button {
  border: none;
}

/**************************************
     Video Testimonial End
***************************************/


/**************************************
     Call to Action Start
***************************************/
#call_to_action {
  background-image: url("../images/call-to-action-bg.jpg");
  margin: 170px 0px;
  background-repeat: no-repeat;
}

#call_to_action h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  font-family: $montserrat_font_family;
  text-transform: capitalize;
}

#call_to_action h2 {
  font-family: $exo_font_family;
  font-weight: 700;
  font-size: 43px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 80px;
}

a.call_to_action_button {
  background-color: #5bbc2e;
  font-weight: 700;
  font-size: 30px;
  font-family: $montserrat_font_family;
  padding: 25px 80px;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  text-transform: uppercase;
  transition: .1s;
}

a.call_to_action_button:hover {
  background-color: #77cc4f;
}

.callToAction_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 595px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 95px;
  text-align: center;
}

/**************************************
     Call to Action End
***************************************/


/**************************************
     Feedback Section Start
***************************************/
#feedback_section {
  background: #f2f2f2;
  padding: 75px 0px;
}

.feedback_title {
  text-transform: uppercase;
  font-weight: 700;
  color: $testimonial_text_color;
  font-family: $montserrat_font_family;
  font-size: 43px;
}

.feedback_box {
  background-color: #d2d6de;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 180px 45px 45px 45px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.feedback_image {
  width: 224px;
  position: absolute;
  left: 50%;
  top: -9%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.feedback_box p {
  font-size: 24px;
  line-height: 48px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: $testimonial_text_color;
  font-family: $montserrat_font_family;
  font-weight: 700;
  max-width: 900px;
}

.feedback_box h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 15px;
  color: $testimonial_text_color;
}

.feedback_box h3 {
  font-size: 30px;
  color: $testimonial_text_color;
  font-weight: 400;
}

.green {
  background-color: #5bbc2e;
  max-width: 700px;
}

.single_feedback.slick-slide {
  padding-top: 115px;
  outline: none;
}

.feedback_wrapper ul.slick-dots {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.feedback_wrapper li button {
  background: #272e4a;
  border: none;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-indent: -9999px;
  margin: 8px;
}

.feedback_wrapper li.slick-active button {
  background-color: #5bbc2e;
}

/**************************************
     Feedback Section End
***************************************/


/**************************************
     Client Section Start
***************************************/
.client_banner_section {
  padding-top: 150px;
  padding-bottom: 60px;
}

.client_title {
  font-size: $heading_font_size_60;
  color: $testimonial_text_color;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 35px;
}

.client_subtitle {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  color: $testimonial_text_color;
}

.client_dropdown_option {
  width: 100%;
}

.client_dropdown_option .form-control-lg {
  font-size: 40px !important;
  font-weight: 400;
  font-family: 'montserrat', sans-serif;
  color: $testimonial_text_color;
  border-color: #a1a1a1;
  margin-top: 100px;
}

.client_dropdown_option .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.client_arrow_prev {
  background-image: url("../images/clients/left-arrow.svg");
  position: absolute;
  left: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.client_arrow_next {
  background-image: url(../images/clients/next.svg);
  position: absolute;
  right: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.client_slider.slick-initialized.slick-slider button {
  border: none;
}

.client_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.client_designation_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 45px;
}

.heading_text {
  position: absolute;
  background: #5bbc2e;
  left: 0;
  top: 70px;
  padding: 20px;
  color: #fff;
  letter-spacing: 2px;
}

.heading_text:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 51px;
  background: #5bbc2e;
  -webkit-transform: skewY(48deg);
  -moz-transform: skewY(48deg);
  -ms-transform: skewY(48deg);
  -o-transform: skewY(48deg);
  transform: skewY(48deg);
  left: 0%;
  bottom: -15%;
}


.client_quote {
  position: absolute;
  right: 30px;
  width: 50px;
  top: 10%;
}

.client_name {
  font-size: 30px;
  color: $testimonial_text_color;
  padding-bottom: 10px;
}

.client_designation h3 {
  font-size: 24px;
  font-weight: 400;
  color: $testimonial_text_color;
}

.client_designation {
  padding-left: 45px;
}

.single_client_item {
  margin: 70px !important;
  background: #f4f4f4;
}

.client_details_wrapper {
  padding: 66px 25px;
  position: relative;
}

.client_logo {
  width: 150px;
  padding-top: 200px;
  padding-bottom: 30px;
}

.single_client_item.slick-slide:focus {
  outline: none;
}

.client_details_wrapper p {
  font-size: 24px;
  letter-spacing: 1px;
  padding-top: 50px;
  color: $testimonial_text_color;
}

/**************************************
     Client Section End
***************************************/


/**************************************
     Case Study Section Start
***************************************/
.case_study_box {
  background-color: #f2f2f2;
  margin-bottom: 80px;
}

.case_studies_top {
  padding: 50px 50px 0px 50px;
}

.case_studies_top img {
  padding-bottom: 40px;
}

.case_studies_text {
  padding: 35px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  font-family: $montserrat_font_family;
  color: #000;
}

.case_studies_title {
  padding-bottom: 100px;
  padding-top: 90px;
}

/**************************************
     Case Study Section End
***************************************/


/**************************************
     Trusted Client Section Start
***************************************/
.trusted_wrapper {
  background-image: url(../images/case-studies/case_study_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  background-color: #f4f4f4;
}

.trusted_wrapper .feedback_title {
  padding-bottom: 60px;
}

.trust_client_border {
  margin-bottom: 130px;
}

.trusted_item_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 80px;
}

/**************************************
     Trusted Client Section End
***************************************/


/**************************************
     Footer Section Start
***************************************/
.footer_section {
  background-color: #172e58;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer_title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.footer_section ul li {
  list-style: none;
  line-height: 40px;
}

.footer_section ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: $montserrat_font_family;
}

.footer_section ul {
  padding-top: 25px;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100px;
}

.social_icon a {
  width: 44px;
  height: 44px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #172e58;
  font-size: 20px;
  margin: 5px;
}

.social_icon {
  padding-top: 30px;
}

/**************************************
     Footer Section End
***************************************/