/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*SCSS Variables*/
$exo_font_family: 'Exo', sans-serif;
$montserrat_font_family: 'Montserrat', sans-serif;

$testimonial_text_color: #1d2440;
$video_text_testimonial_color: #faf9ff;

$heading_font_size_50: 3.125rem;
$heading_font_size_60: 3.75rem;

/*SCSS Extend*/
%full_width_border {
  display: block;
  background: #3c424f;
  width: 100%;
  height: 0.0625rem;
}

%section_width {
  max-width: 91.625rem;
  margin: 0 auto;
}

/**************************************
     Default Css
***************************************/
* {
  margin: 0rem;
  padding: 0rem;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0.875rem;
  font-family: $montserrat_font_family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat_font_family;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p {
  font-family: $montserrat_font_family;
}

ul,
p {
  margin: 0rem;
  padding: 0rem;
}

img {
  max-width: 100%;
  height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/**************************************
      Menu Section Start
***************************************/
.menu_section {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.25rem 0rem;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.menu_section nav {
  max-width: 91.625rem;
  margin: 0 auto;
}

.logo {
  width: 11.25rem;
}

.testimonial_menu a.nav-link {
  color: #fff;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  margin: 0.3125rem;
}

.testimonial_menu a.nav-link:focus {
  color: #ddd;
}

.testimonial_menu a.nav-link {
  color: #fff;
  font-size: 1.125rem;
  font-family: $montserrat_font_family;
}

.testimonial_menu a.nav-link:last-child {
  margin-right: 0rem !important;
  padding-right: 0rem !important;
}

.toggle_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.toggle_icon span {
  width: 3.125rem;
  height: 0.625rem;
  background-color: #fff;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  margin: 0.125rem;
}

/**************************************
      Menu Section End
***************************************/


/**************************************
     Banner Section Start
***************************************/
#banner_section {
  background-image: url(../images/banner.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#banner_section h1 {
  font-size: $heading_font_size_60;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $exo_font_family;
  max-width: 50.9375rem;
  margin: 0 auto;
}

#banner_section p {
  padding-bottom: 6.25rem;
  font-size: 1.625rem;
  color: #faf9ff;
  font-family: $montserrat_font_family;
  max-width: 71.875rem;
  margin: 0 auto;
}

/**************************************
     Banner Section Start
***************************************/

/**************************************
     Featured Testimonial Start
***************************************/
#featured_testimonial_section {
  padding: 6.5625rem 0rem;
}

.section_width {
  @extend %section_width;
}

#featured_testimonial_section h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $montserrat_font_family;
  font-size: $heading_font_size_50;
  color: $testimonial_text_color;
  padding-bottom: 5.3125rem;
}

.full_width_border {
  @extend %full_width_border;
}

.testimonial_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial_row {
  padding: 5.625rem 0rem;
}

.testimonial_row p, .testimonial_row h3, .testimonial_row span {
  font-size: 1.5rem;
  font-family: $montserrat_font_family;
  font-weight: 700;
  color: $testimonial_text_color
}

.testimonial_row h3 {
  font-size: 1.875rem !important;
  padding: 1.5625rem 0rem;
}

.testimonial_row span {
  color: #172e58;
}

/*Logo slider*/
.logo_carousel {
  padding-top: 5.9375rem;
  padding-bottom: 2.1875rem;
}

.logo_carousel.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow_next_bg {
  background-image: url(../images/icon/right-arrow.svg);
  padding: 1.25rem;
  position: absolute;
  z-index: 2;
  right: 1.75rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  top: 50%;
}

.arrow_prev_bg {
  display: none !important;
}

.logo_carousel button {
  border: none;
}

.logo_carousel .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo_item img {
  width: 12.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.logo_item img:active {
  outline: none;
}

.logo_carousel .slick-slide {
  outline: none;
}

/**************************************
     Featured Testimonial End
***************************************/


/**************************************
     Video Testimonial Start
***************************************/
#video_testimonial_section {
  background-color: $testimonial_text_color;
  padding-top: 3.75rem;
  padding-bottom: 7.1875rem;
}

.white {
  background-color: #fff;
}

.video_testimonial_row {
  padding: 3.125rem 0rem;
}

.video_testimonial_title {
  text-transform: uppercase;
  color: $video_text_testimonial_color;
  font-weight: 400;
  font-size: $heading_font_size_50;
  padding-bottom: 2.8125rem;
}

.video_testimonial_icon {
  max-width: 20rem;
}

.video_testimonial_row p {
  color: $video_text_testimonial_color;
  font-size: 1.5625rem;
  font-family: $montserrat_font_family;
  padding: 2.1875rem 0rem;
}

.video_testimonial_row h2 {
  font-size: 2.25rem;
  color: $video_text_testimonial_color;
}

.video_testimonial_row span {
  font-size: 1.5rem;
  color: $video_text_testimonial_color;
}

.video_testimonial_image {
  position: relative;
}

.video_play {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.video_play img {
  width: 5.25rem;
}

.video_arrow_next {
  background-image: url(../images/icon/next-icon.svg);
  position: absolute;
  right: 0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 4.8125rem;
  height: 4.8125rem;
}

.video_testimonial_wrapper button {
  border: none;
}

.single_video_testimonial.slick-slide:focus {
  outline: none;
}

/**************************************
     Video Testimonial End
***************************************/


/**************************************
     Call to Action Start
***************************************/
#call_to_action {
  background-image: url("../images/call-to-action-bg.jpg");
  margin: 10.625rem 0rem;
  background-repeat: no-repeat;
}

#call_to_action h3 {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 700;
  font-family: $montserrat_font_family;
  text-transform: capitalize;
}

#call_to_action h2 {
  font-family: $exo_font_family;
  font-weight: 700;
  font-size: 2.6875rem;
  color: #fff;
  text-transform: uppercase;
  padding-top: 2.8125rem;
  padding-bottom: 5rem;
}

a.call_to_action_button {
  background-color: #5bbc2e;
  font-weight: 700;
  font-size: 1.875rem;
  font-family: $montserrat_font_family;
  padding: 1.5625rem 5rem;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  border-radius: 1.875rem;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: .1s;
  -o-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
}

a.call_to_action_button:hover {
  background-color: #77cc4f;
}

.callToAction_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 37.1875rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 5.9375rem;
  text-align: center;
}

/**************************************
     Call to Action End
***************************************/


/**************************************
     Feedback Section Start
***************************************/
#feedback_section {
  background: #f2f2f2;
  padding: 4.6875rem 0rem;
}

.feedback_title {
  text-transform: uppercase;
  font-weight: 700;
  color: $testimonial_text_color;
  font-family: $montserrat_font_family;
  font-size: 2.6875rem;
}

.feedback_box {
  background-color: #d2d6de;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
  padding: 11.25rem 2.8125rem 2.8125rem 2.8125rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.feedback_image {
  width: 14rem;
  position: absolute;
  left: 50%;
  top: -9%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.feedback_box p {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  color: $testimonial_text_color;
  font-family: $montserrat_font_family;
  font-weight: 700;
  max-width: 56.25rem;
}

.feedback_box h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 1.5625rem;
  padding-bottom: 0.9375rem;
  color: $testimonial_text_color;
}

.feedback_box h3 {
  font-size: 1.875rem;
  color: $testimonial_text_color;
  font-weight: 400;
}

.green {
  background-color: #5bbc2e;
  max-width: 43.75rem;
}

.single_feedback.slick-slide {
  padding-top: 7.1875rem;
  outline: none;
}

.feedback_wrapper ul.slick-dots {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.feedback_wrapper li button {
  background: #272e4a;
  border: none;
  width: 1.5625rem;
  height: 1.5625rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-indent: -624.9375rem;
  margin: 0.5rem;
}

.feedback_wrapper li.slick-active button {
  background-color: #5bbc2e;
}

/**************************************
     Feedback Section End
***************************************/


/**************************************
     Client Section Start
***************************************/
.client_banner_section {
  padding-top: 9.375rem;
  padding-bottom: 3.75rem;
}

img.client_banner_2 {
  display: none;
}

.client_title {
  font-size: $heading_font_size_60;
  color: $testimonial_text_color;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4.375rem;
  padding-bottom: 2.1875rem;
}

.client_subtitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: $testimonial_text_color;
}

.client_dropdown_option {
  width: 100%;
}

.client_dropdown_option .form-control-lg {
  font-size: 2.5rem !important;
  font-weight: 400;
  font-family: 'montserrat', sans-serif;
  color: $testimonial_text_color;
  border-color: #a1a1a1;
  margin-top: 6.25rem;
}

.client_dropdown_option .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.client_arrow_prev {
  background-image: url("../images/clients/left-arrow.svg");
  position: absolute;
  left: 0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 4.375rem;
  height: 4.375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.client_arrow_next {
  background-image: url(../images/clients/next.svg);
  position: absolute;
  right: 0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 4.375rem;
  height: 4.375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.client_slider.slick-initialized.slick-slider button {
  border: none;
}

.client_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.client_designation_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2.8125rem;
}

.heading_text {
  position: absolute;
  background: #5bbc2e;
  left: 0;
  top: 4.375rem;
  padding: 1.25rem;
  color: #fff;
  letter-spacing: 0.125rem;
}

.heading_text:after {
  position: absolute;
  content: '';
  width: 1rem;
  height: 3.1875rem;
  background: #5bbc2e;
  -webkit-transform: skewY(48deg);
  -moz-transform: skewY(48deg);
  -ms-transform: skewY(48deg);
  -o-transform: skewY(48deg);
  transform: skewY(48deg);
  left: 0%;
  bottom: -15%;
}


.client_quote {
  position: absolute;
  right: 1.875rem;
  width: 3.125rem;
  top: 10%;
}

.client_name {
  font-size: 1.875rem;
  color: $testimonial_text_color;
  padding-bottom: 0.625rem;
}

.client_designation h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: $testimonial_text_color;
}

.client_designation {
  padding-left: 2.8125rem;
}

.single_client_item {
  margin: 4.375rem !important;
  background: #f4f4f4;
}

.client_details_wrapper {
  padding: 4.125rem 1.5625rem;
  position: relative;
}

.client_logo {
  width: 9.375rem;
  padding-top: 12.5rem;
  padding-bottom: 1.875rem;
}

.single_client_item.slick-slide:focus {
  outline: none;
}

.client_details_wrapper p {
  font-size: 1.5rem;
  letter-spacing: 0.0625rem;
  padding-top: 3.125rem;
  color: $testimonial_text_color;
}

/**************************************
     Client Section End
***************************************/


/**************************************
     Case Study Section Start
***************************************/
.case_study_box {
  background-color: #f2f2f2;
  margin-bottom: 5rem;
}

.case_studies_top {
  padding: 3.125rem 3.125rem 0rem 3.125rem;
  width: 100%;
  text-align: center;
}

.case_studies_top img {
  padding-bottom: 2.5rem;
}

.case_studies_text {
  padding: 2.1875rem;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: $montserrat_font_family;
  color: #000;
}

.case_studies_title {
  padding-bottom: 6.25rem;
  padding-top: 5.625rem;
}

/**************************************
     Case Study Section End
***************************************/


/**************************************
     Trusted Client Section Start
***************************************/
.trusted_wrapper {
  background-image: url(../images/case-studies/case_study_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 6.25rem;
  background-color: #f4f4f4;
}

.trusted_wrapper .feedback_title {
  padding-bottom: 3.75rem;
}

.trust_client_border {
  margin-bottom: 8.125rem;
}

.trusted_item_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 5rem;
}

.trusted_item_row_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 5rem;
  display: none;
}

/**************************************
     Trusted Client Section End
***************************************/


/**************************************
     Footer Section Start
***************************************/
.footer_section {
  background-color: #172e58;
  color: #fff;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
}

.footer_title {
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 0.9375rem;
  text-transform: uppercase;
}

.footer_section ul li {
  list-style: none;
  line-height: 2.5rem;
}

.footer_section ul li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: $montserrat_font_family;
}

.footer_section ul {
  padding-top: 1.5625rem;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 6.25rem;
}

.social_icon a {
  width: 2.75rem;
  height: 2.75rem;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #172e58;
  font-size: 1.25rem;
  margin: 0.3125rem;
}

.social_icon {
  padding-top: 1.875rem;
}

/**************************************
     Footer Section End
***************************************/