/* Large Layout: 992px-1280px */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
}

/* Large Layout: 992px-1280px End */

/* Large Layout: 992px Start */
@media only screen and (min-width: 992px) {
}

/* Large Layout: 992px End */


/* Tablet & Mobile Layout: 0px-991px */
@media only screen and (max-width: 991px) {
    #banner_section h1 {
        font-size: 2rem; /* 32px */
    }

    #banner_section p {
        font-size: 1.125rem; /* 18px */
        padding: 0.9375rem; /* 15px */
    }

    #featured_testimonial_section h2 {
        font-size: 1.5rem; /* 24px */
        padding-bottom: 2.8125rem; /* 45px */
    }

    .testimonial_row p {
        font-size: 1.25rem; /* 20px */
    }

    .testimonial_wrapper {
        flex-direction: column-reverse;
    }

    .testimonial_row {
        text-align: center;
        padding: 2.8125rem 0rem; /* 45px 0px */
    }

    .testimonial_row span {
        display: block;
        padding-bottom: 1rem; /* 16px */
        padding-top: 0rem; /* 0px */
    }

    .video_testimonial_title {
        font-size: 1.875rem; /* 30px */
        padding-bottom: 0rem; /* 0px */
    }

    .video_testimonial_row p {
        font-size: 1.25rem; /* 20px */
        line-height: 1.7;
    }

    .testimonial_reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .client_image {
        padding-bottom: 1.875rem; /* 30px */
        width: 5.625rem /* 90px */ !important;
    }

    .video_testimonial_row p {
        padding-bottom: 1.875rem; /* 30px */
    }

    .video_arrow_next {
        width: 2.625rem; /* 42px */
        height: 2.625rem; /* 42px */
    }

    #call_to_action h2 {
        font-size: 1.125rem; /* 18px */
        padding: 1.25rem 0rem; /* 20px 0px */
    }

    #call_to_action h3 {
        font-size: 0.875rem; /* 14px */
    }

    a.call_to_action_button {
        font-size: 0.875rem; /* 14px */
        padding: 0.8125rem 1.25rem; /* 13px 20px */
    }

    .callToAction_wrapper {
        min-height: 12rem; /* 192px */
        padding-bottom: 1.25rem; /* 20px */
        padding-top: 2.5rem; /* 40px */
    }

    #call_to_action {
        margin: 3.75rem 0rem; /* 60px 0px */
    }

    .feedback_title {
        font-size: 1.75rem; /* 28px */
    }

    .feedback_image {
        width: 9.0625rem; /* 145px */
        top: -4%;
    }

    .feedback_box {
        position: relative;
        padding: 10rem 0.9375rem 0.9375rem 0.9375rem; /* 160px 15px 15px 15px */
    }

    .feedback_quote {
        width: 2.8125rem; /* 45px */
    }

    .feedback_box p {
        font-size: 1.125rem; /* 18px */
        line-height: 1.7;
    }

    .feedback_box h2 {
        font-size: 1.875rem; /* 30px */
    }

    .feedback_box h3 {
        font-size: 1.5rem; /* 24px */
    }

    .client_title {
        font-size: 2rem; /* 32px */
        padding-bottom: 1.875rem; /* 30px */
        padding-top: 3.125rem; /* 50px */
    }

    .client_logo {
        padding-top: 5.625rem; /* 90px */
        width: 7.8125rem; /* 125px */
    }

    .client_subtitle {
        font-size: 1.75rem; /* 28px */
    }

    .client_dropdown_option .form-control-lg {
        font-size: 1.25rem /* 20px */ !important;
        margin-top: 2.5rem; /* 40px */
        height: 5.625rem; /* 90px */
    }

    .client_dropdown_option {
        margin: 0.9375rem; /* 15px */
    }

    .client_name {
        font-size: 1.5rem; /* 24px */
    }

    img.client_banner {
        display: none;
    }

    img.client_banner_2 {
        display: block;
        margin: 0 auto;
    }

    .client_designation h3 {
        font-size: 1.125rem; /* 18px */
    }

    .client_designation {
        padding-left: 1.875rem; /* 30px */
    }

    .single_client_item {
        margin: 2rem 0rem /* 32px 0px */ !important;
    }

    .client_details_wrapper {
        padding: 1.875rem 0.4375rem; /* 30px 7px */
    }

    .client_quote {
        top: 7%;
    }

    .heading_text h3 {
        font-size: 1.25rem; /* 20px */
    }

    .heading_text:after {
        width: 0.625rem; /* 10px */
        height: 0.6875rem; /* 11px */
    }

    .heading_text {
        letter-spacing: 0;
        padding: 0.625rem; /* 10px */
        left: 1rem; /* 16px */
    }

    .case_studies_title {
        font-size: 1.5rem; /* 24px */
        padding: 5rem 0rem; /* 80px 0px */
    }

    .social_icon {
        text-align: center !important;
    }

    .footer_title {
        font-size: 1.125rem; /* 18px */
        padding-bottom: 0.625rem; /* 10px */
        padding-top: 3.125rem; /* 50px */
    }

    .video_testimonial_image {
        padding-bottom: 2.5rem; /* 40px */
        margin: 0 auto;
    }

    .client_banner_section {
        padding-top: 4.6875rem; /* 75px */
        padding-bottom: 4.6875rem; /* 75px */
    }

    #feedback_section {
        padding-bottom: 3.4375rem; /* 55px */
        padding-top: 3.4375rem; /* 55px */
    }

    #featured_testimonial_section {
        padding: 2.8125rem 0rem; /* 45px 0px */
    }

    .testimonial_row h3 {
        padding: 1.875rem 0rem; /* 30px 0px */
    }

    #video_testimonial_section {
        padding-top: 2.5rem; /* 40px */
        padding-bottom: 2.5rem; /* 40px */
    }

    .video_arrow_next {
        right: 0.9375rem; /* 15px */
        bottom: -1rem; /* -16px */
    }

    .video_testimonial_row {
        padding: 1.875rem 0rem; /* 30px 0px */
    }

    .video_play img {
        width: 3.75rem; /* 60px */
    }

    .trust_client_border {
        margin-bottom: 3.75rem; /* 60px */
    }

    .trusted_item_row_2 li {
        list-style: none;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .trusted_item_row_2 {
        padding-bottom: 0px;
    }

    .trusted_item_row_2 ul li img {
        width: 130px;
    }

    .trusted_item_row_2 ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu_section {
        padding: 0px;
    }

    .logo {
        width: 9.25rem;
    }

}

/* Tablet & Mobile Layout: 0px-991px End */


/* Tablet Layout: 768px-991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Tablet Layout: 768px-991px End */


/* Mobile Layout: 0px-767px */
@media only screen and (max-width: 767px) {
    .heading_text {
        top: 4%;
    }

    .copyright {
        display: none;
    }

    .trusted_item_row_2 {
        display: block;
        text-align: center;
    }

    .trusted_item_row {
        display: none;
    }
}

/* Mobile Layout: 0px-767px End */


/* Wide Mobile Layout: 576px-767px Start */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Wide Mobile Layout:576px-767px End */

/* Small Devices: 0px-575px Start */
@media only screen and (max-width: 575px) {

}

/* Small Devices: 0px-575px End */
