/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
/*SCSS Variables*/
/*SCSS Extend*/
.full_width_border {
  display: block;
  background: #3c424f;
  width: 100%;
  height: 1px; }

/**************************************
     Default Css
***************************************/
* {
  margin: 0px;
  padding: 0px; }

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700; }

p {
  font-family: "Montserrat", sans-serif; }

ul,
p {
  margin: 0px;
  padding: 0px; }

img {
  max-width: 100%;
  height: auto; }

input:focus,
button:focus,
textarea:focus,
a:focus {
  outline: none; }

a:hover,
a:focus {
  text-decoration: none; }

/**************************************
      Menu Section Start
***************************************/
.menu_section {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0px;
  position: absolute;
  z-index: 100;
  width: 100%; }

.menu_section nav {
  max-width: 1466px;
  margin: 0 auto; }

.logo {
  width: 180px; }

.testimonial_menu a.nav-link {
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 5px; }

.testimonial_menu a.nav-link:focus {
  color: #ddd; }

.testimonial_menu a.nav-link {
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif; }

.testimonial_menu a.nav-link:last-child {
  margin-right: 0px !important;
  padding-right: 0px !important; }

.toggle_icon {
  display: flex;
  flex-direction: column; }

.toggle_icon span {
  width: 50px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin: 2px; }

/**************************************
      Menu Section End
***************************************/
/**************************************
     Banner Section Start
***************************************/
#banner_section {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  position: relative; }

#banner_section h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  max-width: 815px;
  margin: 0 auto; }

#banner_section p {
  padding-bottom: 100px;
  font-size: 26px;
  color: #faf9ff;
  font-family: "Montserrat", sans-serif;
  max-width: 1150px;
  margin: 0 auto; }

/**************************************
     Banner Section Start
***************************************/
/**************************************
     Featured Testimonial Start
***************************************/
#featured_testimonial_section {
  padding: 105px 0px; }

.section_width {
  max-width: 1466px;
  margin: 0 auto; }

#featured_testimonial_section h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #1d2440;
  padding-bottom: 85px; }

.testimonial_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; }

.testimonial_row {
  padding: 90px 0px; }

.testimonial_row p, .testimonial_row h3, .testimonial_row span {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1d2440; }

.testimonial_row h3 {
  font-size: 30px !important;
  padding: 25px 0px; }

.testimonial_row span {
  color: #172e58; }

/*Logo slider*/
.logo_carousel {
  padding-top: 95px;
  padding-bottom: 35px; }

.logo_carousel.owl-carousel .owl-stage {
  display: flex;
  justify-content: center;
  align-items: center; }

.arrow_next_bg {
  background-image: url(../images/icon/right-arrow.png);
  padding: 20px;
  position: absolute;
  z-index: 2;
  right: 28px;
  background-size: cover;
  background-position: center;
  top: 50%; }

.arrow_prev_bg {
  display: none !important; }

.logo_carousel button {
  border: none; }

.logo_carousel .slick-track {
  display: flex;
  align-items: center; }

.logo_item img {
  width: 200px;
  object-fit: contain; }

.logo_item img:active {
  outline: none; }

.logo_carousel .slick-slide {
  outline: none; }

/**************************************
     Featured Testimonial End
***************************************/
/**************************************
     Video Testimonial Start
***************************************/
#video_testimonial_section {
  background-color: #1d2440;
  padding-top: 60px;
  padding-bottom: 115px; }

.white {
  background-color: #fff; }

.video_testimonial_row {
  padding: 50px 0px; }

.video_testimonial_title {
  text-transform: uppercase;
  color: #faf9ff;
  font-weight: 400;
  font-size: 50px;
  padding-bottom: 45px; }

.video_testimonial_row {
  padding: 50px 0px; }

.video_testimonial_icon {
  max-width: 320px; }

.video_testimonial_row p {
  color: #faf9ff;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  padding: 35px 0px; }

.video_testimonial_row h2 {
  font-size: 36px;
  color: #faf9ff; }

.video_testimonial_row span {
  font-size: 24px;
  color: #faf9ff; }

.video_testimonial_image {
  position: relative; }

.video_play {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; }

.video_play img {
  width: 84px; }

/**************************************
     Video Testimonial End
***************************************/

/*# sourceMappingURL=style.css.map */
